@import "variables";
@import "mixins";


/* 
 * Post-it pin and positions.
 * Credits: https://codepen.io/joshnh/pen/shHbJ
 */

.pin {
	//background-color: #aaa;
	//background-image: linear-gradient(left, hsla(0,0%,100%,.2), hsla(0,0%,0%,.2));
	background: #aaa linear-gradient(to left, hsla(0, 0%, 100%, .2), hsla(0, 0%, 0%, .2));
	display: block;
	height: 2em;
	margin: -1em -.05em;
	position: absolute;
	width: .1em;

	&:after {
		//background-color: $app-orange;
		//background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.2), hsla(0,0%,0%,.2));
		background: $app-orange radial-gradient(circle at 25% 25%, hsla(0, 0%, 100%, .2), hsla(0, 0%, 0%, .2));
		border-radius: 50%;
		box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
					inset .2em .2em .2em hsla(0,0%,100%,.2),
					inset -.2em -.2em .2em hsla(0,0%,0%,.2),
					1.5em 1.25em .25em hsla(0,0%,0%,.15);
		content: '';
		height: .8em;
		left: -.35em;
		position: absolute;
		top: -.65em;
		width: .8em;
	}

	&:before {
		background-color: hsla(0,0%,0%,.1);
		box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
		content: '';
		height: 1.5em;
		left: 0;
		position: absolute;
		top: .5em;
		transform: rotate(57.5deg);
		transform-origin: 50% 100%;
		width: .1em;
	}
}

.pin-top-left {
	top: .5rem;
	left: 1.3rem;
	transform: rotate(-10deg);
}

.pin-top-right {
	top: .5rem;
	right: 1.3rem;
	transform: rotate(10deg);
}

.pin-bottom-left {
	bottom: .5rem;
	left: 1.3rem;
	transform: rotate(-160deg);
}

.pin-bottom-right {
	bottom: .5rem;
	right: 1.3rem;
	transform: rotate(160deg);
}



/* 
 * Featured ribbon and positioning.
 * Credits: https://codepen.io/ajimix/pen/sDret
 */

.featured-ribbon {
	@include material_shadow_sm;
	position: absolute;
	padding: .3rem .5rem;
	font-size: 1.3rem;
	color: #fff;
	background: $app-orange;

	&:before {
		content: '';
		position: absolute;
		height: 0;
		width: 0;
		top: 100%;
		right: 0;
		border-top: 6px solid #cb9b0a;
		border-right: 20px solid transparent;
		z-index: -1;
	}
}

.ribbon-bottom-right {
	right: -3.75rem;
	bottom: -3.33rem;
}



/*
 * Expanding text underline effect.
 * Credits: https://codepen.io/colloque/pen/bDgmx
 * StackOverflow: https://stackoverflow.com/questions/48669444/css-border-after-not-expanding-full-width-when-the-text-is-wrapped
 */

.effect-underline {
	position: relative;
	display: inline-block;

	&:after {
		content: '';
		border-bottom: 1px solid;
		width: 100%;
		height: 1em;
		display: inline-block;
		margin-top: 10px;
		position: absolute;
		left: 0;
		opacity: 0;
		transition: all 0.35s;
		transform: scale(0, 1);
	}

	&:hover {
		&:after {
			opacity: 1;
			transform: scale(1);
		}
	}
}