/* DEVELOPMENT styles. */

.bw { border: 1px solid white; }
.bk { border: 1px solid black; }
.bp { border: 1px solid pink; }
.br { border: 1px solid red; }
.bg { border: 1px solid green; }
.bs { border: 1px solid #ccc; }
.by { border: 1px solid yellow; }
.bo { border: 1px solid orange; }