
// Colors.
$app-white: #FFFFFF;
$app-black: #000000;
$app-darkblue: #131835;
$app-lightblue: #C5CAE9;
$app-organge: #FFC107;

// Specific for elements.
$app-bg-primary: #3F51B5;
$app-bg-secondary: #FAFAFA;
$app-bg-navbar: rgba(250, 250, 250, .95);
$app-bg-carousel-caption: rgba(0, 0, 0, 0.5);

