@import '../bootstrap';


body {
	padding-top: 62px;
	background-color: $app-white;
}

#app {
	overflow: hidden;

	section {
		margin-bottom: 1.5rem;

		> .row {
			padding: 1.5rem 0;
		}
	}

	.app-section-title {
		color: black;
	}

	#app-contact {
		margin-bottom: 0;
	}
}
