@import '../bootstrap';


body {
	background-color: $app-white;
}

#post-main {
	// Removed padding from `body` and added it here to prevent 
	// the pins to be hidden by `overflow: hidden` style.
	padding-top: 105px;
	overflow: hidden;

	.post-main-content {
		margin: 0 auto;


		article {
			@include material_shadow_md;
			margin: 0 auto 2rem auto;
			padding: 1.5rem;
			position: relative;
		}


		.post-content-row {
			margin: 0 auto;


			header {
				margin-bottom: 1.5rem;

				.post-title {
					position: relative;
				}

				.post-title, .post-details {
					margin-bottom: 1rem;
				}

				.post-author, .post-featured-image {
					margin-bottom: 0;
				}

				.post-author span, .post-category {
					color: $app-darkblue;
					font-weight: 400;
				}

				.post-author, .post-category {
					a {
						color: $app-black;
						text-decoration: none;
					}
				}

				.post-featured-image {
					@include material_shadow_sm;
				}
			}


			.post-content {
				margin-bottom: 2rem;

				* {
					color: #212529 !important;
					font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;			
				}		
			} 


			.next-article {
				p {
					font-size: .8rem;
					margin-bottom: 0;
				}

				a {
					text-decoration: none;			
				}
			}


			#post-footer {
				margin-top: 2rem;
			}

		}
	}
}