@import '../bootstrap';


body {
	// padding-top: 105px;
	background-color: $app-white;
}

#project {
	padding-top: 105px;
	position: relative;
	overflow: hidden;


	.logo {
		margin: 0 auto 1rem auto;
	}
	
	header, .project-content {
		margin-bottom: 1.5rem;
	}

	article {
		@include material_shadow_md;
		margin: 0 auto 2rem auto;
		padding: 1.5rem;
		position: relative;
	}

	header {
		.project-title {
			position: relative;
		}

		.project-title, .project-pubdate {
			margin-bottom: 1rem;
		}

		.project-author, .project-featured-image {
			margin-bottom: 0;
		}

		.project-pubdate {
			display: block;

			.project-category {
				color: $app-darkblue;
				font-weight: 400;
			}

		}

		.project-author {
			span {
				color: $app-darkblue;
				font-weight: 400;
			}
		}

		.project-featured-image {
			@include material_shadow_sm;
		}

	}

	.project-content {
		margin-bottom: 3rem;

		* {
			color: #212529 !important;
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;			
		}		
	} 

	.next-article {
		p {
			font-size: .8rem;
			margin-bottom: 0;
		}

		a {
			text-decoration: none;			
		}
	}

	footer {
		margin-top: 3rem;

		.footer-copyright {
			p {
				font-size: .8rem;
				margin-bottom: 0;
				text-align: center;
			}

			a {
				color: $app-black;
				text-decoration: none;
			}
		}

		.project-share {
			margin-bottom: .5rem;

			img {
				width: 30px;
				filter: grayscale(80%);
				transition: all .5s;

				&:hover {
					filter: grayscale(0%);
					transform:rotate(360deg);
				}
			}
		}
	}
}